{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>GK-BANK - Profile</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Poppins:wght@600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet" />
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  </head>

  <body>
    <!-- Spinner Start -->
    <div
      id="spinner"
      class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
    >
      <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->

 <!-- Topbar Start -->
    <div
      class="container-fluid custom-bg text-white py-2 px-0 d-none d-lg-block"
    >
      <div class="row gx-0 align-items-center">
        <div class="col-lg-7 px-5 text-start">
          <div class="h-100 d-inline-flex align-items-center me-4">
            <small class="far fa-envelope-open me-2"></small>
            <small>info@gk-bank.com</small>
          </div>
          <div class="h-100 d-inline-flex align-items-center me-4">
            <small class="far fa-clock me-2"></small>
            <small>Mon - Fri : 10 AM - 5 PM</small>
          </div>
        </div>
        <div class="col-lg-5 px-5 text-end">
          <div class="h-100 d-inline-flex align-items-center">
          </div>
        </div>
      </div>
    </div>
    <!-- Topbar End -->

    <!-- Navbar Start -->
    <nav
      class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5"
    >
        <h1 class="m-0">
          <img
            class="img-fluid me-3"
            src="{% static 'img/icon/GK-BANK.png' %}"
            alt=""
          />GK-BANK
        </h1>
      </a>
      <button
        type="button"
        class="navbar-toggler"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav mx-auto bg-light rounded pe-4 py-3 py-lg-0">
<!--          <a href="landing.html" class="nav-item nav-link">Profile</a>-->
<!--          <div class="nav-item dropdown">-->
<!--            <a-->
<!--              href="#"-->
<!--              class="nav-link dropdown-toggle active"-->
<!--              data-bs-toggle="dropdown"-->
<!--              >Hi, {{username}}</a-->
<!--            >-->
<!--            <div class="dropdown-menu bg-light border-0 m-0">-->
<!--              <a href="feature.html" class="dropdown-item">Features</a>-->
<!--              <a href="appointment.html" class="dropdown-item">Appointment</a>-->
<!--              <a href="team.html" class="dropdown-item">Team Members</a>-->
<!--              <a href="testimonial.html" class="dropdown-item">Testimonial</a>-->
<!--              <a href="404.html" class="dropdown-item active">404 Page</a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <a href="contact.html" class="nav-item nav-link">Contact Us</a>-->
        </div>
      </div>
      <a href="{% url 'credentials:logout' %}" class="btn btn-primary px-3 d-none d-lg-block"><b>Logout</b></a>
    </nav>
    <!-- Navbar End -->

    <!-- Page Header Start -->
    <div
      class="container-fluid page-header py-5 mb-5 wow fadeIn"
      data-wow-delay="0.1s"
    >
      <div class="container py-5">
        <h2 class="display-4 animated slideInDown mb-4">Profile</h2>
        <nav aria-label="breadcrumb animated slideInDown">
          <h4><ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a >Welcome</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              {% if username %}
                  {{ username }}
              {% endif %}
            </li>
          </ol></h4>
        </nav>
      </div>
    </div>
    <!-- Page Header End -->

    <!-- 404 Start -->
    <div class="container-xxl py-6 wow fadeInUp" data-wow-delay="0.1s">
      <div class="container text-center">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h1 class="mb-4">Application Form</h1>
            <p class="mb-4">
                click to fill your form.
            </p>
              <a class="btn btn-primary py-3 px-5" href="{% url 'bankapp:form' %}">Start</a>
          </div><br>

                </div>
        </div>
      </div>

     <div class="col-lg-6 py-0 wow fadeIn" data-wow-delay="0.5s">
            <div class="bg-white rounded p-4">
            </div>
     </div>

           <div class="text-center text-primary">
          <a href="{% url 'credentials:logout' %}">Go back to Home</a>
               </div>
<br>
                    <div class="container text-center py-6">
{% for message in messages %}
        <div class="alert alert-success">{{ message }}</div>
{% endfor %}
    </div><br>




    <div class="container sm-12">
        <div class="row">
            {% for i in application_list %}
            <div class="shadow card bg-secondary text-dark col-sm-6 my-3">
                <div class="card-body ">
                    <p><b>Name - {{i.name}}</b></p>
                    <p><b>Date of Birth - {{i.date}}</b></p>
                    <p><b>Gender - {{i.gender}}</b></p>
                    <p><b>Phone - {{i.phone}}</b></p>
                    <p><b>Email - {{i.email}}</b></p>
                  <p><b>Address - {{i.address}}</b></p>
                  <p><b>Account type - {{i.account_type}}</b></p>
                    {% if i.debit_card == True %}
                        <p><b>Debit card - Required</b></p>
                    {% else %}
                        <p><b>Debit card - Not required</b></p>
                    {% endif %}
                    {% if i.credit_card == True %}
                        <p><b>Credit card - Required</b></p>
                    {% else %}
                        <p><b>Credit card - Not required</b></p>
                    {% endif %}
                    {% if i.cheque_book == True %}
                        <p><b>Cheque book - Required</b></p>
                    {% else %}
                        <p><b>Cheque book - Not required</b></p>
                    {% endif %}
                 {% if i.branch_id == 1 %}
                <p><b>Branch - Edapally</b></p>
                {% elif i.branch_id == 2 %}
                    <p><b>Branch - Aluva</b></p>
                {% elif i.branch_id == 3 %}
                    <p><b>Branch - Kakkanad</b></p>
                {% elif i.branch_id == 4 %}
                    <p><b>Branch - Changanacherry</b></p>
                {% elif i.branch_id == 5 %}
                    <p><b>Branch - Vaikom</b></p>
                {% elif i.branch_id == 6 %}
                    <p><b>Branch - Etumanoor</b></p>
                {% elif i.branch_id == 7 %}
                    <p><b>Branch - Aroor</b></p>
                {% elif i.branch_id == 8 %}
                    <p><b>Branch - Cherthala</b></p>
                {% elif i.branch_id == 9 %}
                    <p><b>Branch - Mavelikkara</b></p>
                {% else %}
                    <p><b>Branch - {{ i.branch_id }}</b></p>
                {% endif %}
                    {% if i.district == 1 %}
                        <p><b>District - Ernakulam</b></p>
                    {% elif i.district == 2 %}
                        <p><b>District - Kottayam</b></p>
                    {% else %}
                        <p><b>District - {{ i.district }}</b></p>
                    {% endif %}
                </div>
            </div>
            <br><br>&nbsp;&nbsp;
            {% endfor %}

        </div>
    </div>
    <!-- 404 End -->

    <!-- Footer Start -->
    <div
      class="container-fluid  custom-bg text-white footer 100vh mt-5 pt-2 wow fadeIn"
      data-wow-delay="0.1s"
    >
      <div class="container py-4">
        <div class="row g-5">
          <div class="col-lg-3 col-md-6">
            <h1 class="text-white mb-4">
              <img
                class="img-fluid me-3"
                src="{% static 'img/icon/GK-BANK.png' %}"
                alt=""
              />GK-BANK
            </h1>
            <p>
              © All rights reserved.[GK-BANK] [2023]
            </p>
          </div>
          <div class="col-lg-3 col-md-6">
            <h5 class="text-light mb-4">Address</h5>
            <p>
              <i class="fa fa-map-marker-alt me-3"></i>Head Quaters,Mumbai India
            </p>
            <p><i class="fa fa-phone-alt me-3"></i>+91XXXXXXXXXX</p>
            <p><i class="fa fa-envelope me-3"></i>info@gk-bank.com</p>
          </div>
          <div class="col-lg-3 col-md-6">
          </div>
          <div class="col-lg-3 col-md-6">
            <h5 class="text-light mb-4">Newsletter</h5>
            <p>Stay up-to-date with our latest products and services.</p>
            <div class="position-relative mx-auto" style="max-width: 400px">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer End -->

<!--    &lt;!&ndash; Back to Top &ndash;&gt;-->
<!--    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"-->
<!--      ><i class="bi bi-arrow-up"></i-->
<!--    ></a>-->

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>